.cuadro{
  background:  linear-gradient(#45e274, #1cb5e0);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 80vh;
  width: 160vh;
  border-radius: 15px;
  padding: 20px;
  border: black 2px solid;


}
.centrarCuadro{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.foto{
  width: 50px;
  height: 50px;
}

.boton{
  width: 22vh;
  /* margin-left: 5vh; */
  margin-top: 2vh;
  background-color: #6ebff5;
  color: black;
  border-color: black;
  border-radius: 15px;
}

.encima:hover{
  filter: contrast(180%);
  cursor: pointer;
}

.iconitoEliminar:hover{
  color: red;
  cursor: pointer;
}

.iconitoInscribirse:hover{
  color: rgb(156, 248, 160);
  cursor: pointer;
}

.sennalado:hover {
  background-color: #6ebff5b2;
}
.imagen{
  /* position: fixed;
  z-index: 7; */
  width: 800px;
  height: 350px;
  border-radius: 55px;
  margin-left: 75px;
  /* border: solid black 2px; */
}
