<app-load-page *ngIf="cargando == false"></app-load-page>
<div class="error-contain">
	<div class="error-text">
		<h1>404</h1>
		<p>Page not found.</p>
		<!-- <p>{{gato.title}}</p> -->
		<p>{{frase.content}}</p>
		<p class="text-center">{{frase.author}}</p>
	</div>
	<div class="binoculars">
		<div class="back-bino"></div>
		<div class="left-bino"></div>
		<div class="right-bino"></div>
		<div class="left-bino-lense">
			<div class="eye"></div>
		</div>
		<div class="right-bino-lense">
			<div class="eye"></div>
		</div>
	</div>
</div>
