.cuadro{
  background:  linear-gradient(#45e274, #1cb5e0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 80vh;
  border-radius: 15px;
  border: black 2px solid;

}
.centrarCuadro{
  display: flex;
  justify-content: center;
  margin-top: 9vh;
}
.email{
  font-weight: bold;
}
.pass{
  margin-top: 10px;
  font-weight: bold;
}
.botones{
  display: flex;
  justify-content: center;

}
.boton{
  width: 23vh;
  /* margin-left: 5vh; */
  margin-top: 2vh;
  background-color: #6ebff5;
  color: black;
  border-color: black;
  border-radius: 15px;
}
.enlaces{
  margin-top: 10px;
  text-decoration: none;
}
.text-decoration{
  text-decoration: none;
}
.redondearBordes{
  border-radius: 15px;
}

.foto{
  height: 150px;
  width: 200px;
  /* border-radius: 100%; */

}
.margen{
  margin-top: -10%;
  margin-bottom: 4%;
}

.botonesDelUsuario:hover{
  filter: contrast(180%);
  cursor: pointer;
}

