<app-load-page *ngIf="cargando == false"></app-load-page>
<div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="recuperada == 'si'">
  <strong>Clase recuperada correctamente!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="recuperada == 'no'">
  <strong>No se ha podido recuperar la clase!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="centrarCuadro">
  <div class="cuadro">

    <form action="" >
      <div class="row titulo ">
        <div class="col-9">
          <h1>Recuperar Clases</h1>
        </div>
        <!-- <div class="col-3 d-flex justify-content-center">
          <div class="input-wrapper">
            <i class="bi bi-person-plus-fill icono"></i>
            <input type="button" name="agregar" id="agregar" value="Agregar" class="btn btn-primary boton shadow-lg">
          </div>
        </div> -->
      </div>
      <div class="d-flex row text-center">
        <table class="table talbe-stripped tabla">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Monitor</th>
              <th scope="col">Imagen</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of clases" class="sennalado">
              <td *ngIf="c.tipoUsuario.id == 3 && c.clasecol == '1'">{{c.nombreClase}}</td>
              <!-- <td> <img src="data:image/png;base64,{{usuario.foto}}" class="foto"></td> -->
              <td *ngIf="c.tipoUsuario.id == 3 && c.clasecol == '1'">{{c.nombreUsuario}}</td>
              <td *ngIf="c.tipoUsuario.id == 3 && c.clasecol == '1'"><img src="data:image/png;base64,{{c.imagen}}"
                  class="foto"></td>
              <td *ngIf="c.tipoUsuario.id == 3 && c.clasecol == '1'"><i class="bi bi-file-arrow-up-fill iconitoEliminar"
                  (click)="reestablecerClase(c.idclase)"></i></td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-3 botones">
            <input type="submit" name="cancelar" id="cancelar" value="Volver" [routerLink]="['/gestionClases']"
              class="btn btn-primary boton shadow encima">
          </div>
        </div>
        <!-- <div class="row d-flex justify-content-start">
          <div class="col-3">
            <div class="input-wrapper">
              <i class="bi bi-trash-fill icono"></i>
              <input type="button" name="eliminar" id="eliminar" value="Eliminar" class="btn btn-primary boton shadow-lg">
            </div>
          </div>
        </div> -->
      </div>
    </form>
  </div>
</div>
